<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FizBuzz App</title>
</head>
<body>
  {% for number in range(1, 101) %}
    {% if number % 3 == 0 and number % 5 == 0 %}
      <p>FizzBuzz</p>
    {% elif number % 3 == 0 %}
      <p>Fizz</p>
    {% elif number % 5 == 0 %}
      <p>Buzz</p>
    {% else %}
      <p>{{ number }}</p>
    {% endif %}
  {% endfor %}
</body>
</html>